<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/jdbc
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">

    <!--自动解析注解-->
    <context:annotation-config></context:annotation-config>
    <!--xml里不用再写bean，spring自动从package里找-->
    <context:component-scan base-package="com.wxmimperio"></context:component-scan>

    <!--自动产生代理-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <bean name="userDAO" class="com.wxmimperio.dao.impl.UserDAOImpl">
    </bean>

    <bean name="userDAO1" class="com.wxmimperio.dao.impl.UserDAOImpl">
    </bean>

    <bean id="userService" class="com.wxmimperio.service.UserService">
    </bean>
</beans>