<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--加载properties-->
    <properties resource="db.properties" />

    <!--别名-->
    <typeAliases>
        <!--针对单个的别名定义-->
        <!--<typeAlias type="com.wxmimperio.mybatis.pojo.Consumer" alias="consumer" />-->

        <!--自动定义别名，别名为类名首字母小写-->
        <package name="com.wxmimperio.mybatis.pojo" />
    </typeAliases>

    <!--数据库连接池-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="sqlmapper/database.xml"/>
        <mapper resource="sqlmapper/consumer-mapper.xml"/>
    </mappers>
</configuration>